*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:#fff;
    color:#000;
}


h2{
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
}


select:focus{
    outline: none;
}


li{
    list-style: none;
}

/* HEADER */

header{
    background-color:#2a3052!important;
    border-bottom: 4px solid #e98024;
    border-top: 2px solid #394171;
}
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  
/* END HEADER */

.container{
    max-width: 1240px;
    width: 100%;
    padding: 4rem .5rem 2rem;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
}

 select{
    margin-bottom: 2rem;
    width: 200px;
    padding: 4rem;
    height: 50px;
    font-size: 1.25rem;
    cursor: pointer;

}

.quote__container{
    max-width: 500px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 0 2rem;  
    border-radius: 4px;
    border: 1px solid #dedede;   
}

.quote__display ul{
margin-top: 1rem;

display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
grid-column-gap: 1rem;
}

.quote-item{
    text-align: center;
    line-height:1rem;
    white-space: nowrap;
    padding: .25rem;
    margin: .15rem 0;
    border-radius: 5px;
    border: solid 1px #999999;

    font-size:.7561436673rem;
    line-height:1.5rem;
    background-color: #dedede;
}
 
 
 